.app-header {
  grid-area: header;
  height: 70px;
  width: 100%;
  background-color: $clr3;
  padding: $pad1;
  @include flex(row, center, space-between, $pad1);
  position: sticky;
  top: 0;
  z-index: 2;

  .link-container {
    @include flex(row, center, space-between, $pad1);
  }

  .user-info {
    @include flex(row, center, center, $pad1);
    span {
      color: $clr6;
    }
    a {
      font-size: 1em;
      color: $clr7;
    }
  }
}
