.nav-side {
    grid-area: nav;

    @include flex(column, center, start, $pad3);

    background-color: $clr1;
    padding: $pad2;

    position: sticky;
    top: 0;
    z-index: 2;
    height: 100vh;

    @include for-mobile-layout {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        height: max-content;
        bottom: 0;
    }
    div {
        background-color: darken($clr1, 3%);
        width: em(50px);
        height: em(50px);
        padding: $pad1;
        border-radius: 50%;
        font-size: 1.5em;
        cursor: pointer;

        @include flex(column, center, center);

        @include for-mobile-layout {
            font-size: 1.2em;
        }
    }

    div:first-child {
        margin-bottom: 80px;

        @include for-mobile-layout {
            margin: 0;
            margin-inline-end: 20px;
        }
    }

    div.blue {
        background-color: $clr7;
        color: $clr1;
    }
}
