.cart {
    position: fixed;
    left: 0px;
    top: 70px;

    @include flex(column, center, center, $pad1);
    color: $clr6;
    background-color: inherit;
    width: 250px;
    height: max-content;
    padding: $pad1;

    translate: -250px 0px;
    transition: translate 0.6s;

    .app-header.cart-open & {
        translate: 0% 0%;
    }

    // // ul {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: start;
    // }
}
