.toy-details {
    position: relative;
    @include section;
    @include flex(column, center, center, $pad2);

    .icons-container {
        width: 100%;
        @include flex(row, center, space-between, $pad1);
        font-size: 1.5em;
    }

    .details-container {
        @include flex(row-reverse, center, space-evenly, $pad2);
        text-align: center;
        width: 100%;
        @include for-mobile-layout {
            flex-direction: column;
        }
        h4 {
            margin: 0;
            color: $clr6;
            font-size: 1.6em;
        }
        .img-container {
            width: 40%;
            max-width: 250px;
            @include for-mobile-layout {
                width: 70%;
            }
        }
        ul {
            @include for-mobile-layout {
                display: flex;
                justify-content: center;
            }
        }
    }

    .msgs-container {
        @include flex(row, start, center, $pad2);
        @include for-mobile-layout {
            flex-direction: column;
        }
        section {
            @include section-with-ul;

            form {
                @include flex(row, center, center, $pad2);
            }
        }
    }
}
