.toy-edit {
    position: relative;
    @include section;

    @include flex(row-reverse, center, space-evenly);

    @include for-mobile-layout {
        @include flex(column, center, center, $pad2);
    }

    form {
        @include flex(column, stretch, center, $pad1);

        padding: $pad2;
        width: 40%;

        button {
            align-self: start;
        }

        @include for-mobile-layout {
            width: 80%;
            padding-top: $pad2;
        }
    }

    .img-container {
        width: 40%;
        max-width: 250px;

        a {
            position: absolute;
            top: $pad2;
            left: $pad2;
        }
        @include for-mobile-layout {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
