.toy-preview {
    @include flex(column, center, center);
    color: $clr6;
    font-size: 0.8em;

    .img-container {
        align-self: center;
        height: 150px;
        width: 150px;
        border-radius: 50%;

        @include flex(row, center, center);

        margin-block-end: $pad2;

        @include for-mobile-layout {
            padding: $pad2;
            flex-wrap: wrap;
            height: 180px;
            width: 180px;
        }

        img {
            height: 70%;
            width: 70%;
        }
    }
}
