.toy-filter {
    form {
        @include flex(row, center, center, $pad2, wrap);

        div,
        label {
            width: 200px;
            @include for-mobile-layout {
                width: 150px;
            }
        }
        label {
            margin: 0;
        }
    }
}
