.toy-list {
    padding-top: $pad1;
    ul {
        @include flex(row, center, center, $pad1, wrap);
        color: $clr5;

        li {
            @include flex(column, center, center, $pad1);
            flex-grow: 1;

            background-color: $clr1;
            border-radius: 10px;
            padding: $pad1;
            width: 200px;

            @include for-mobile-layout {
                padding: $pad2;
            }

            .controls {
                display: flex;
                justify-content: space-between;
                font-size: 1.3em;
                width: 100%;

                svg {
                    cursor: pointer;
                }
            }
        }
    }
}
