.toy-details {
    position: relative;
    @include section;

    @include flex(column, center, center, $pad2);
    h4 {
        margin: 0;
        color: $clr6;
        font-size: 1.6em;
    }
    .details-container {
        @include flex(row-reverse, center, space-evenly, $pad2);

        text-align: center;
        width: 100%;

        @include for-mobile-layout {
            flex-direction: column;
        }
        .img-container {
            width: 40%;
            max-width: 250px;
            a {
                position: absolute;
                top: $pad2;
                left: $pad2;
            }
            @include for-mobile-layout {
                width: 70%;
            }
        }
        ul {
            @include for-mobile-layout {
                display: flex;
                justify-content: center;
            }
        }
    }

    .msgs-container {
        padding: $pad2;
        background-color: $clr1;
        width: 80%;

        form {
            @include flex(row, center, center, $pad2);
        }
        ul {
            // margin-block-start: $pad2;
        }
    }
}
