.user-msg {
    // background-color: lightgray;

    padding: $pad2;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    border-radius: 2px;
    font-size: 1.2em;
}

.user-msg.success {
    background-color: $clr-success;
}

.user-msg.error {
    background-color: $clr-danger;
}

.user-msg button {
    float: right;
    margin-inline-start: 10px;
}
