.toy-sort {
    background-color: var(--clr2bg);
    padding: 1em;
}

.toy-sort form {
    display: grid;
    grid-template-columns: 80px 170px;
    gap: 10px;
    /* justify-items: start; */
    /* justify-items: start; */
}

input[type="checkbox"] {
    justify-self: start;
}
