.category-list {
    grid-area: category;
    background-color: $clr2;
    margin-top: -70px;
    z-index: 1;
    min-height: 100vh;

    padding: 100px $pad2;

    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;

    h3 {
        color: $clr6;
    }
}
