.category-list {
    grid-area: category;
    background-color: $clr2;
    margin-top: -70px;
    z-index: 1;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    padding: $pad2;
    // padding-top: 150px;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;

    h3 {
        color: $clr6;
    }
}
