.toy-filter {
    form {
        display: flex;
        flex-wrap: wrap;
        gap: $pad2;
        // justify-content: space-between;
        justify-content: center;
        align-items: center;
        div,
        label {
            width: 200px;
            @include for-mobile-layout {
                width: 130px;
            }
        }
        label {
            margin: 0;
        }
    }
}

.toy-filter form {
}
