.toy-list {
    padding-top: $pad1;
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        color: $clr5;
        // align-items: center;
        justify-content: center;

        li {
            display: flex;
            flex-direction: column;
            gap: $pad1;
            background-color: lightcoral;
            background-color: $clr1;
            border-radius: 10px;
            padding: $pad1;
            width: 200px;

            .controls {
                display: flex;
                justify-content: space-between;
                font-size: 1.3em;

                svg {
                    cursor: pointer;
                }
            }
        }
    }
}
