.main-layout {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav category  header"
    "nav category main";

  @include for-mobile-layout {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      " header"
      " main"
      " nav";

    .category-list {
      display: none;
    }
    // &.sidebar-open {
    //   overflow: hidden;
    // }
    // body {
    //   background-color: red;
    // }

    // .NavSide,
    //   .category-list {
    //     display: none;
    //   }
  }

  main {
    grid-area: main;
    background-color: $clr3;
  }
}

// .main-layout {
//   margin: 0 auto;
//   padding-left: 1.6rem;
//   padding-right: 1.6rem;
// }

// .container {
//   max-width: 800px;
//   padding: 1em;
//   margin: auto;
// }

// footer {
//   background-color: var(--clr1);
//   color: var(--clr1bg);
//   padding: 1em;
//   text-align: center;
// }
