// COLOR PALETTE
$clr1: rgb(255 255 255);
$clr2: rgb(243 244 244);
$clr3: rgb(209 211 216);
$clr4: rgb(242 249 255);
$clr5: rgb(178 178 178);
$clr6: rgb(5 5 5);
$clr7: rgb(17 39 227);
$clr-success: rgb(66, 227, 17);
$clr-danger: rgb(227, 45, 17);
// $clr4: darken($clr3, 40%);

// LAYOUT
$pad1: 10px;
$pad2: 15px;
$pad3: 25px;
// $layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 700px;
$break-normal: 1360px;
$break-wide: 1920px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;
